.isOnline {
  color: green;
}

.isOffline {
  color: red;
}

.img{
    height: 80px;
    width: 80px;
    margin: 10px;
}

.div{
    display: flex;
    flex-direction: column;
    align-items: center;
}